@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

@variants responsive, hover {
  .translate-r-2px {
    transform: translateX(2px) !important;
  }
  .transition-fast {
    transition: all .2s ease !important;
  }
}

.modal {
  transition: opacity 0.25s ease;
}
