<header class="container mx-auto">
  <h1 class="text-5xl">Space Plant Tracking System</h1>
</header>
<div class="container mx-auto lg:flex">
  <aside id="sidebar" class="bg-red hidden fixed inset-0 pt-16 h-full bg-white z-90 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/4 lg:block lg:border-0 xl:w-1/5">
    <nav>
      <ul>
        <li class="mb-3 lg:mb-1">
          <LinkTo @route="potatoes" class="px-2 -mx-2 py-1 transition-fast relative block hover:translate-r-2px hover:text-gray-900 text-gray-600 font-medium">Potatoes</LinkTo>
        </li>
        <li class="mb-3 lg:mb-1">
          <LinkTo @route="tomatoes" class="px-2 -mx-2 py-1 transition-fast relative block hover:translate-r-2px hover:text-gray-900 text-gray-600 font-medium">Tomatoes</LinkTo>
        </li>
        <li class="mb-3 lg:mb-1">
          <LinkTo @route="lettuce" class="px-2 -mx-2 py-1 transition-fast relative block hover:translate-r-2px hover:text-gray-900 text-gray-600 font-medium">Lettuce</LinkTo>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="bg-blue min-h-screen w-full lg:static lg:max-h-full lg:overflow-visible lg:w-3/4 xl:w-4/5">
    {{outlet}}
  </main>
</div>