<h1 class="text-5xl">Potatoes</h1>

{{!-- <table class="w-full text-left table-collapse">
  <thead>
    <tr>
      <th>Sample ID</th>
      <th>Water</th>
      <th>Fertilizer</th>
      <th>Light</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="font-mono">Lettuce 1</td>
      <td class="font-mono">100ml/d</td>
      <td class="font-mono">2g/kg</td>
      <td class="font-mono">18h / 85%</td>
      <td><button class="btn btn-blue">Report</button></td>
    </tr>
    <tr>
      <td class="font-mono">Lettuce 2</td>
      <td class="font-mono">100ml/d</td>
      <td class="font-mono">2g/kg</td>
      <td class="font-mono">18h / 85%</td>
      <td><button class="btn btn-blue">Report</button></td>
    </tr>
    <tr>
      <td class="font-mono">Lettuce 3</td>
      <td class="font-mono">100ml/d</td>
      <td class="font-mono">2g/kg</td>
      <td class="font-mono">18h / 85%</td>
      <td><button class="btn btn-blue">Report</button></td>
    </tr>
  </tbody>
</table> --}}

<CropsTable @crops={{this.model}} @cropType="potatoes"/>